@media screen and (max-width: 800px){

	.featured {
		width: 48%;
	}
}



@media screen and (max-width: 550px){

	// #logo {
	// 	display: none;
	// }

	#logo {
		img {
			max-width: 100px;
		}
	}

	#header-title {
		font-size: .8em;
	}

	main h1 {
		font-size: 1.5em;
	}
	.featured {
		width: 100%;
	}
}